.imagem-fundo_north {
    width: 100vw;
    margin-right: 0;
    margin-top: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex: 1;

}

body {
    background-color: rgba(162, 191, 233, 0.1);
    
}