.north__principal {
    width: 100%;
    display: flex;
    background: url(../../src/Backgrounds/lago plano-de-fundo North.jpg);
    background-color: rgba(162, 191, 233, 0.1);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex: 1;
    width: 100%;
    padding-bottom: 45rem;

}

@media (min-width:320px) and (max-width:767px) {
    .north__principal {
        padding-bottom: 100vh;
    }
}

