.botao-estilo_2 {
    background: #DE6309;
    border: none;
    border-radius: 5px;
    border-style: solid;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #fdfdfd;
    padding: 0.5rem;
    margin-top: 40px;
    /*display: flex;*/
    /*left: 49.5%;*/
   
}

.botao-estilo_2:hover {
    background: rgb(187, 70, 0);
    cursor: pointer;
}

.botao-estilo_2 a {
    text-decoration: none;
    color: inherit;
}

@media screen and (min-width:1024px) {
    .botao-estilo_2 {
        padding: 1rem;
    }
}