.botao-estilo_2 {
    background: #DE6309;
    border: none;
    border-radius: 5px;
    color: #fdfdfd;
    padding: 1rem;
    display: flex;
    position: absolute;
    left: 49.5%;
    transform: translate(-75%, -1070%);
}

.botao-estilo_2:hover {
    background: rgb(187, 70, 0);
    cursor: pointer;
}

.botao-estilo_2 a {
    text-decoration: none;
    color: inherit;
}