.botao-estilo_1 {
    background: #17a2b8;
    border: none;
    border-style: solid;   
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #fdfdfd;
    padding: 0.5rem;
    /*display: flex;*/
    /*position: absolute;*/
    /*left: 50%;*/
    
}

.botao-estilo_1:hover {
    background: rgb(2, 110, 110);
    cursor: pointer;
}

.botao-estilo_1 a {
    text-decoration: none;
    color: inherit;
}

.botoes {
    transform: translate(-50%,0);
    position: absolute;
    top: 89px;
}

@media screen and (min-width:1024px) {
    .botao-estilo_1 {
        padding: 1rem;
    }

    .botoes {
        transform: translate(-12%, 88px);
    }
}



