.botao-estilo_1 {
    background: #DE6309;
    border: none;
    border-radius: 5px;
    color: #fdfdfd;
    padding: 1rem;
    display: flex;
    position: absolute;
    left: 50%;
    transform: translate(-75%, -1200%);
}

.botao-estilo_1:hover {
    background: rgb(187, 70, 0);
    cursor: pointer;
}

.botao-estilo_1 a {
    text-decoration: none;
    color: inherit;
}

