.titulo-estilizado {
    font-family: 'Mystery Quest', cursive;
    font-size: 25px;
}


.titulo-principal {
    background: url(src/Backgrounds/titulo-principal.jpg) no-repeat;
   -webkit-background-clip: text;
   -webkit-text-fill-color:rgb(52, 75, 52);
   font-size: 30px;
   margin-bottom: -10px;

}

#cor-fonte {
    color: darkgreen;
}

#cor-fonte:hover {
    color: greenyellow;
}