.south__principal {
   width: 100%;
   display: flex;
   background-color:rgba(162, 191, 233, 0.1);
   background: url(../../src/Backgrounds/plano-fundo-south.jpg);
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   flex: 1;
   width: 100%;
   padding-bottom: 45rem;

}

