
@media (min-width:1024px) {
    
    .card-estilo {
        display: flex;
        position: absolute;
        transform: translate(0%, 28%);
        flex-direction: row;
    }
    
    .card__tamanho {
        width: 100%;
        margin-left: 2rem; 
    }
    
    .card__imagem {
        width: 400px;
        height: 267.08px;
        border-radius: 5px;
    }
    
    .card-corpo {
        width: 400px;
        height: 180px;
        line-height: 1.7;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: 5px;
        padding-top: 20px;
    }
    
    .card-titulo {
        font-family:'Courier New', Courier, monospace;
        color: #FFF;
        font-weight: 500;
        font-size: 22px;
    }
    
    .card-texto {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #FFF;
        font-size: 16px;
    }
}


@media (max-width:768px) and (max-width:1023px) {
    .card-estilo {
        display: flex;
        position: absolute;
        transform: translate(0%, 28%);
        flex-direction: row;
        margin-top: 15%;
    }

    .card__tamanho {
        width: 100%;
        margin-left: 1.5rem; 
    }
    
    .card__imagem {
        width: 14rem;
        height: 11rem;
        border-radius: 5px;
    }
    
    .card-corpo {
        width: 14rem;
        height: 152px;
        line-height: 1.5;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.4);
        border-radius: 5px;
        padding-top: 10px;
    }
    
    .card-titulo {
        font-family:'Courier New', Courier, monospace;
        color: #FFF;
        font-weight: 500;
        font-size: 18px;
    }
    
    .card-texto {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #FFF;
        font-size: 12.8px;
    }
}

@media (min-width:320px) and (max-width:767px) {
    .card-estilo {
        display: flex;
        position: absolute;
        transform: translate(30%, -4%);
        flex-direction: column;
    }

    .card__tamanho {
        width: 100%;
        margin-bottom: 10px; 
    }
    
    .card__imagem {
        width: 9.375rem;
        height: 6.25rem;
        border-radius: 5px;
    }
    
    .card-corpo {
        width: 9.375rem;
        height: 4.375rem;
        line-height: 1.3;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: 5px;
        padding-top: 5px;
    }
    
    .card-titulo {
        font-family:'Courier New', Courier, monospace;
        color: #FFF;
        font-weight: 500;
        font-size: 15px;
    }
    
    .card-texto {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #FFF;
        font-size: 8px;
    }
}




