.card-estilo {
    display: flex;
    position: absolute;
    left: 37%;
    transform: translate(-50%, -100%);
    flex-direction: column;
}

.card-espaco {
    margin-bottom: 2rem;
}

.card-espaco p {
    font-size: 15px;
}

.card-espaco h5 {
    line-height: 0.2;
}

.card-espaco:last-child {
    margin-bottom: 0;
}




